.header{
    width: 100%;
    height: 100px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
}

.footer{
    width: 100%;
    height: 200px;
    background-color : blue;
    display: flex;
    flex-direction: row;
}

.element{
    flex: 1;
}